* {
  margin: 0;
  padding: 0;
}

.inputOptions {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: gray;
  padding: 10px;
  cursor: pointer;
}

.inputOptions:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.inputOptions > h4 {
  margin-left: 5px;
}
