* {
  margin: 0;
  padding: 0;
}

.post {
  background-color: white;
  padding: 12px;
  margin-bottom: 10px;
  margin-left: 15px;
  border-radius: 10px;
}
.post__header {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.post__info {
  margin-left: 10px;
}

.post__info > p {
  color: gray;
  font-size: 12px;
}

.post__info > h2 {
  font-size: 15px;
}

.post__body {
  overflow-wrap: anywhere;
}
.post__buttons {
  display: flex;
  justify-content: space-evenly;
}
